#navb1{
    background-color: #62e0ee;
    height: 170vh;
    
}

.container{
    margin:0;
}


#b1{
background-color: rgb(235, 184, 141);
width: 132%;
height: 270px;
    }
#b2{
background-color: rgb(237, 197, 165);

width: 132%;
height: 150px;
}
#b3{
background-color: rgb(175, 239, 112);
width: 132%;
height: 280px;
}
#a1{
color:white
}
#a1:hover{
    color: black;

}
li{
    list-style: none;
}

#i1,#i2,#i3,#i4,#i5{
    background-color: rgb(237, 248, 226);
    width: 50%;
    height: 50px;
    padding-top: 10px;
}
#er{
    margin-top: 55px;
}

#b4{
    background-color: rgb(97, 211, 239);
    width: 130%;
    height: 350px;
}
#p1,#p2{
    background-color: rgb(237, 248, 226);
    width: 70%;
    height: 110px;
    padding-top: 10px;
}
#b5{
    background-color: rgb(226, 239, 112);
    width: 132%;
    height: 150px;
}
.mail-img{
    width: 30px;
    height: 30px;
}
.linkedin-img{
    width: 30px;
    height: 30px;
}